/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 08.07.2022., 15.26.15
    Author     : Vrebac
*/

/*

> 0px XS No name


> 576px SM  Small devices

>768px MD Medium Devices


>992px  LG   Large devices


>1200px  XL Extra large devices



*/

@media(min-width:576px){
    
}

@media(min-width:768px){
    
    /*NAVIGATION STYLE*/
    
    .nav-link{
    padding:20px 14px;
    border-bottom: 2px solid transparent;
}

.nav-link active,
.nav-link:hover{
    border-bottom:2px solid #28A745;
}

.navbar-nav .nav-item{
    margin-left: 60px;
}
    
}

@media(min-width:992px){
    /*NAVIGATION STYLE*/ 
    .navbar-nav .nav-item{
    margin-left: 90px;
}
}

@media(min-width:1200px){
     /*NAVIGATION STYLE*/
     .navbar-nav .nav-item{
    margin-left: 134px;
}
    
}